.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem;
    max-width: 70vw;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-img {
    width: 80vw;
    max-width: 600px;
}

.about-description {
    max-width: 600px;
}

.about-title {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

.about-text {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.about-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}

.icon-arrow {
    margin-left: 0.25rem;
    width: 1.2rem;
    height: auto;
}

.link-container {
    border-bottom: 2px solid hsl(176, 68%, 64%);
    max-width: fit-content;
}

.link-container:hover {
    filter: grayscale(100%);
}

@media screen and (min-width: 961px) {

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: 3rem;
    }

    .about-title {
        font-size: 2rem;
    }
}