body {
  margin: 0;
  font-family: 'Open Sans', 'Raleway',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: hsl(218, 28%, 13%);
}
